<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs', {style : 'general', stylemain : 'home'})  %>

<body>
    <%- include('partials/header.ejs') %> 
    <!-- js link -->
    <script type="text/javascript" src="js/script.js"></script>

    <main>
        <!-- section destacados -->
        <section aria-labelledby="destacados">
            <h2 class=Title id="destacados">Destacados</h2>
            <div id="carouselExampleIndicators-1" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li class="linea" data-target="#carouselExampleIndicators-1" data-slide-to="0" class="active"></li>
                    <li class="linea" data-target="#carouselExampleIndicators-1" data-slide-to="1"></li>
                    <li class="linea" data-target="#carouselExampleIndicators-1" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <div class="w-100 caja-tarjetas" alt="First slide">
                    <% products.forEach(product => { %>
                    <a class="producto-card" href="/producto/detail/<%= product.id %>">    
                    <div class="tarjeta">
                        <img class="fotico" src="<%= product.image && product.image !== '' ? '/img/products/' + product.image : '/img/img_default.jpg' %>" alt="imagen producto">
                        <h3 class="Titulo-producto"><%= product.name %></h3>
                        <p class="precio"><%= product.price %></p>
                    </div>
                    </a>
                    <% }) %>
                    <!-- <div class="tarjeta">
                        <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                        <h3 class="Titulo-producto">Titulo</h3>
                        <p class="precio">precio</p>
                    </div>
                    <div class="tarjeta">
                        <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                        <h3 class="Titulo-producto">Titulo</h3>
                        <p class="precio">precio</p>
                    </div>
                    <div class="tarjeta">
                        <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                        <h3 class="Titulo-producto">Titulo</h3>
                        <p class="precio">precio</p>
                    </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="w-100 caja-tarjetas" alt="Second slide">
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="w-100 caja-tarjetas" alt="Third slide">
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators-1" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon primary" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators-1" role="button" data-slide="next">
                  <span class="carousel-control-next-icon text-primary"  aria-hidden="true">
                  </span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </section>
        <!-- section novedades -->
        <!-- <section aria-labelledby="novedades">
            <h2 class=Title id="novedades">Novedades</h2>
            <div id="carouselExampleIndicators-2" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li class="linea" data-target="#carouselExampleIndicators-2" data-slide-to="0" class="active"></li>
                  <li class="linea" data-target="#carouselExampleIndicators-2" data-slide-to="1"></li>
                  <li class="linea" data-target="#carouselExampleIndicators-2" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="w-100 caja-tarjetas" alt="First slide">
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="w-100 caja-tarjetas" alt="Second slide">
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="w-100 caja-tarjetas" alt="Third slide">
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators-2" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon primary" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators-2" role="button" data-slide="next">
                  <span class="carousel-control-next-icon text-primary"  aria-hidden="true">
                  </span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </section>
        <!-- section ofertas -->
        <!-- <section aria-labelledby="ofertas">
            <h2 class=Title id="ofertas">Ofertas</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li class="linea" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li class="linea" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li class="linea" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="w-100 caja-tarjetas" alt="First slide">
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="w-100 caja-tarjetas" alt="Second slide">
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="w-100 caja-tarjetas" alt="Third slide">
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                        <div class="tarjeta">
                            <img class="fotico" src="/img/imagen default.jpg" alt="imagen default">
                            <h3 class="Titulo-producto">Titulo</h3>
                            <p class="precio">precio</p>
                        </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon primary" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon text-primary"  aria-hidden="true">
                  </span>
                  <span class="sr-only">Next</span>
                </a>
              </div> 
        </section>  -->
        <!-- section ig -->
         <section class="ig">
            <i class="ri-instagram-line"></i>
            <p>Seguinos en @</p>
         </section>
         <!-- section newsletter -->
          <section class="newsletter">
            <h2>Newsletter</h2>
            <p>¿Queres recibir nuestras ofertas?<br>
            ¡Registrate ya mismo y comenza a disfrutarlas!</p>
            <div class="newsletter-box">
                <input type="text" placeholder="Email">
                <button>Enviar</button>
            </div>
          </section>
    </main>
        <!-- Empieza el footer de la pagina -->
    <%- include('partials/footer.ejs') %>
    <!-- scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
